:root {
    --primary-text-color: #757575;
    --text-title-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --backgroung-color: #F5F4FA;
    --secondary-bgc-color: #2F303A;
}
.list {
    list-style: none;
}
/* main text color: #757575;
 text title color: #212121;
accent color: #2196F3;
White color: #FFFFFF;
secondary bg color: #F5F4FA;
footer and main section bg color: #2F303A;
footer contacts color: rgba(255, 255, 255, 0.6) */
body {
    color: var(--primary-text-color);
    background-color: var(--white-color);  
    
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    font-family: inherit;
}

/* Header style */

.logo {
    color: var(--text-title-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-part {
    color: var(--accent-color);
}

.site-nav a {
    color: var(--text-title-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav a:hover, 
.site-nav a:focus {
    color: var(--accent-color);
}

.contact-header a {
    color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-header a:hover,
.contact-header a:focus {
    color: var(--accent-color);
}

/* main content style */

/* banner content */

.banner{
    background-color: var(--secondary-bgc-color);
}

.banner-title {
color: var(--white-color);


    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.banner-btn {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
}

.banner-btn:hover,
.banner-btn:focus {
background-color: #188CE8;
}

/* section */

.section-title{
    color: var(--text-title-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}


/* advantage */

.subtitle {
    color: var(--text-title-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantage p {
    line-height: 1.71;
}

/* work */



/* team */

.team {
    background-color: var(--backgroung-color);
}



.team-name {
    color: var(--text-title-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* footer */

.footer {
    background-color: var(--secondary-bgc-color);
}

.footer > .logo {
    color: var(--white-color);
}

.address-link {
    color: var(--white-color);

    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.footer-contact a {
    color: rgba(255, 255, 255, 0.6);

    line-height: 1.71;
    text-decoration: none;
}

.footer-contact a:hover,
.footer-contact a:focus {
    color: var(--accent-color)
}

/* portfolio */

.portfolio {
    background-color: var(--white-color);
}

.filter button{
    color: var(--text-title-color);
    background: var(--backgroung-color);
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.filter button:hover,
.filter button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.examples h2 {
    color: var(--text-title-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.examples p {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
}

.examples a {
    text-decoration: none;
}